ClienteBanco/Connected Services/BancoServicio/BancoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BancoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54805/BancoServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54805/BancoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54805/BancoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BancoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBancoServicio_Depositar_InputMessage">
    <wsdl:part name="parameters" element="tns:Depositar" />
  </wsdl:message>
  <wsdl:message name="IBancoServicio_Depositar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositarResponse" />
  </wsdl:message>
  <wsdl:message name="IBancoServicio_Retirar_InputMessage">
    <wsdl:part name="parameters" element="tns:Retirar" />
  </wsdl:message>
  <wsdl:message name="IBancoServicio_Retirar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetirarResponse" />
  </wsdl:message>
  <wsdl:message name="IBancoServicio_Extracto_InputMessage">
    <wsdl:part name="parameters" element="tns:Extracto" />
  </wsdl:message>
  <wsdl:message name="IBancoServicio_Extracto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtractoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBancoServicio">
    <wsdl:operation name="Depositar">
      <wsdl:input wsaw:Action="http://tempuri.org/IBancoServicio/Depositar" message="tns:IBancoServicio_Depositar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBancoServicio/DepositarResponse" message="tns:IBancoServicio_Depositar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Retirar">
      <wsdl:input wsaw:Action="http://tempuri.org/IBancoServicio/Retirar" message="tns:IBancoServicio_Retirar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBancoServicio/RetirarResponse" message="tns:IBancoServicio_Retirar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Extracto">
      <wsdl:input wsaw:Action="http://tempuri.org/IBancoServicio/Extracto" message="tns:IBancoServicio_Extracto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBancoServicio/ExtractoResponse" message="tns:IBancoServicio_Extracto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBancoServicio" type="tns:IBancoServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Depositar">
      <soap:operation soapAction="http://tempuri.org/IBancoServicio/Depositar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retirar">
      <soap:operation soapAction="http://tempuri.org/IBancoServicio/Retirar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Extracto">
      <soap:operation soapAction="http://tempuri.org/IBancoServicio/Extracto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BancoServicio">
    <wsdl:port name="BasicHttpBinding_IBancoServicio" binding="tns:BasicHttpBinding_IBancoServicio">
      <soap:address location="http://localhost:54805/BancoServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>